<p>O vencedor foi <%=@hand.winner == 0 ? "Empate" : Player.find(@hand.winner).nome%></p>

<p>A sua carta era a <%=@card1.nome%> e a do adversário era <%=@card2.nome%>.</p>

<p> A característica escolhida foi <%=params[:caracteristica]%>, o valor da sua carta era <%=@char1%> e do adversário <%=@char2%>.</p>

<p><%=@stack1.cards%></p>
<p><%=@stack2.cards%></p>

<%if @st1.size == 0 || @st2.size == 0%>
    <%if @st1.size == 0%>
        <%@game.winner = @game.player2%>
        <%@game.save%>
    <%elsif @st2.size == 0%>
        <%@game.winner = @game.player1%>
        <%@game.save%>
    <%end%>
    <a class="btn btn-primary" href="/final_jogo/<%=@game.id%>">Seguir</a>
<%else%>
    <%@new = Hand.new(game_id:@game.id)%>
    <%@new.save%>
    <a class="btn btn-primary" href="/hand/<%=@new.id%>">Próxima Rodada</a>
<%end%>